version: '3.8'
services: 
  api:
    build: .
    depends_on:
      - postgres
    ports:
      - 8000:8000


    volumes:
      - ./:/usr/src/app:ro
      

      #<port on localhost> : <port on container> #spacing matters in yml file
    env_file:
      - ./.env
    # environment:
    #   - name=value

    command: >
      sh -c "
      alembic upgrade head &&
      uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
      "


  postgres:
    image: postgres:15
    env_file:
      - .env

    volumes:
      - postgres-db:/var/lib/postgresql/data

volumes:
  postgres-db:

      
