version: '3.8'
services: 
  api:
    build: .
    ports:
      - 8000:8000
      #<port on localhost> : <port on container> #spacing matters in yml file
    env_file:
      - ./.env
    # environment:
    #   - name=value
      
